ManagedCHESS. Copyright (C) Microsoft Corporation, 2008.
Analyzing timer.exe  ...
WARNING: Race Detection Disabled. Races May Hide Bugs.
Tests: 1 Threads: 2 ExecSteps: 74 HBExecs: 1 
Tests: 2 Threads: 2 ExecSteps: 74 HBExecs: 1 
Tests: 3 Threads: 2 ExecSteps: 74 HBExecs: 1 
Tests: 4 Threads: 2 ExecSteps: 74 HBExecs: 1 
Tests: 5 Threads: 2 ExecSteps: 74 HBExecs: 2 
Tests: 6 Threads: 2 ExecSteps: 74 HBExecs: 2 
Tests: 7 Threads: 2 ExecSteps: 74 HBExecs: 2 
Tests: 8 Threads: 2 ExecSteps: 74 HBExecs: 2 
Search Completed (1 Warning).
Exit code = 0 
